
langchain_core
python_dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
langchain_ollama
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
langchain_huggingface
groq
langchain-groq
beautifulsoup4
sentence_transformers
semantic_router
langchain_mistralai
huggingface_hub
umap-learn
scikit-learn
tiktoken  
langchain-chroma 
langchain-anthropic
matplotlib
pypdf
pinecone